NODE_ENV=development
PORT=4000

DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=logitrack
DB_PASSWORD=logitrack_secret
DB_NAME=logitrack

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h
